.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Nena", root_path, :class => 'navbar-brand'

    .collapse.navbar-collapse
      - if !user_signed_in?
        = render('navigation_not_singed_in')
      - elsif current_user.ready?
        = render('navigation_singed_in')
